@media print {
  #printHide {
    display: none;
  }

  #capture {
    margin-left: auto;
    margin-right: auto;
    height:auto;
    padding: 0px !important;
    border-style: none !important;
    margin-bottom: 0.625rem;
  }
}

#capture {
  height: 842px;
  width: 595px;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
  border: 0.01rem solid grey;
  padding: 2rem;
  margin-bottom: 0.625rem;
}
